<h1>Todas as Pousadas e Quartos Disponíveis</h1>

<h2>As 3 Pousadas mais recentes nos nossos registros:</h2>
<% @latest_inns.each do |inn| %>
  <p><%= link_to "#{inn.brand_name} - #{inn.city}", inn %></p>
<% end %>

<h2>Outras Pousadas Cadastradas e Ativas:</h2>
<% @other_inns.each do |inn| %>
  <p><%= link_to "#{inn.brand_name} - #{inn.city}", inn %></p>
<% end %>
